<%- include('../layouts/userHeader.ejs') %>

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1 style="background-color: black; color: white; padding: 10px;">Shopping Cart</h1>

                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <% let totalPriceSum=0 %>
        <% if(cart.products.length==0) { %>
            <div class="container-fluid mt-100">
                <div class="row px-xl-5">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body cart">
                                <div class="col-sm-12 empty-cart-cls text-center">
                                    <img src="/img/3516854.jpg" width="100" height="130" class="img-fluid mb-4 mr-3">
                                    <h3><strong style="font-size: 24px; color: #333;">"Your Cart Awaits Your
                                            Selections!"</strong></h3>
                                    <h4 style="font-size: 18px; color: #555;">"Explore an Enchanting World of
                                        Timepieces"</h4>
                                    <a href="/home" class="btn btn-primary cart-btn-transform m-3" data-abc="true"
                                        style="background-color: #000000; color: #fff; border: none; padding: 10px 20px; font-size: 16px; text-decoration: none; border-radius: 5px;">Continue
                                        shopping</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% } else { %>

                <!--================Cart Area =================-->
                <p
                    style="font-size: 24px; text-align: center; background-color: rgb(210, 202, 202); color: rgb(17, 17, 17); padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); margin-top: 30px;">
                    <%=message%>
                </p>

                <section class="cart_area">
                    <div class="container">
                        <div class="cart_inner">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead style="background-color: #f5f5f5;">
                                        <tr>
                                            <th scope="col" style="font-weight: bold;">Product</th>
                                            <th scope="col" style="font-weight: bold;">Price</th>
                                            <th scope="col" style="font-weight: bold;">Quantity</th>
                                            <th scope="col" style="font-weight: bold;">Total</th>
                                            <th scope="col" style="font-weight: bold;">Availability</th>
                                            <th scope="col" style="font-weight: bold;">Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <% cart.products.forEach(function(item) { %>
                                            <% let totalPrice=item.product.price * item.quantity; %>
                                                <% totalPriceSum +=totalPrice; %>
                                                    <tr class="cartPrice" data-price="<%= item.product.price %>"
                                                        data-id="<%= item.product._id %>"
                                                        data-stock="<%= item.product.stock %>">

                                                        <td class="align-middle">
                                                            <img src="/uploadProductImage/<%= item.product.image[0] %>"
                                                                alt="" style="width: 50px;">
                                                            <%= item.product.productname %>
                                                        </td>
                                                        <td class="align-middle price">

                                                            <%= item.product.price.toFixed(2) %>
                                                        </td>

                                                        <td>
                                                            <div
                                                                class="product_parent d-inline-block position-relative">
                                                                <input type="text" name="qty" maxlength="1"
                                                                    value="<%= item.quantity %>" title="Quantity:"
                                                                    class="input-text qty inputQuantity"
                                                                    style="width: 50px; height: 40px;" readonly>
                                                                <button onclick='incFunction(this)'
                                                                    class="increase items-count position-absolute"
                                                                    style="top: 0; right: 0; background-color: #030303; color: #fff; border: none; border-radius: 5px;"
                                                                    type="button"><i
                                                                        class="lnr lnr-chevron-up"></i></button>
                                                                <button onclick='decFunction(this)'
                                                                    class="reduced items-count position-absolute"
                                                                    style="bottom: 0; right: 0; background-color: #040404; color: #fff; border: none; border-radius: 5px;"
                                                                    type="button"><i
                                                                        class="lnr lnr-chevron-down"></i></button>
                                                            </div>
                                                        </td>
                                                        <td class="align-middle total-price">
                                                            <%= totalPrice.toFixed(2) %>
                                                        </td>
                                                        <td class="stock">
                                                            <% if (item.product.stock===0) { %>
                                                                <span
                                                                    style="color: red; font-size: larger; white-space: nowrap;">Out
                                                                    of
                                                                    Stock</span>
                                                                <% } else { %>
                                                                    <span
                                                                        style="color: rgb(17, 194, 55); font-size: larger;">In
                                                                        Stock</span>
                                                                    <% } %>
                                                        </td>
                                                        <td class="align-middle">
                                                            <button class="btn btn-sm btn-danger"
                                                                onclick="deleteItem('<%= cart._id %>', '<%= item.product._id %>')"
                                                                style="background-color: #030303; color: #fff; border: none; border-radius: 5px;">
                                                                <i class="fa fa-times"></i>
                                                            </button>
                                                        </td>
                                                    </tr>


                                                    <% }); %>


                                                        <tr class="bottom_button">

                                                        </tr>

                                                        <td>
                                                            <h3>Total Amount</h3>
                                                        </td>

                                                        <td>
                                                            <h3 class="total-price-sum">: Rs.<%=
                                                                    totalPriceSum.toFixed(2) %>
                                                            </h3>
                                                        </td>
                                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                            <div class="checkout_btn_inner d-flex align-items-center">
                                <a class="gray_btn" href="/home"
                                    style="background: linear-gradient(90deg, #010101, #ffffff); border: none; border-radius: 30px; margin-right: 20px; color: white; transition: background 0.3s;">
                                    Continue Shopping
                                </a>
                                <a class="gray_btn" href="/checkout"
                                    style="background: linear-gradient(90deg, #ffffff, #000000); border: none; border-radius: 30px; color: white; transition: background 0.3s;">
                                    Proceed to Buy
                                </a>
                            </div>

                        </div>
                        <% } %>

                            <!-- container -->
                    </div>


                </section>

                <!--================End Cart Area =================-->
                <%- include('../layouts/userFooter.ejs') %>


                    <script>

                        ///////////////script for the total price to show in the cart///////////////////////////////////////////
                        function updateTotalPriceSum() {
                            let totalPriceSum = 0;
                            const cartItems = document.querySelectorAll('.cartPrice');

                            cartItems.forEach(function (item) {
                                let price = parseFloat(item.getAttribute('data-price'));
                                let quantity = parseInt(item.querySelector('.inputQuantity').value);
                                totalPriceSum += price * quantity;
                            });

                            // Update the displayed total price
                            const totalPriceSumElement = document.querySelector('.total-price-sum');
                            if (totalPriceSumElement) {
                                totalPriceSumElement.innerText = 'Rs.' + totalPriceSum.toFixed(2);
                            }
                        }




                        /////////////script for increase and decrease quantity of the product in cart///////////////////////////////////////////
                        function incFunction(e) {
                            let parent = e.closest('.cartPrice');
                            let qty = parent.querySelector('.inputQuantity');
                            let productId = parent.getAttribute('data-id');
                            let stock = parent.getAttribute('data-stock'); // Get the stock value

                            if (stock > 0) {
                                let quantity = parseInt(qty.value) + 1;

                                if (quantity <= stock) {
                                    // Update the UI
                                    qty.value = quantity;
                                    let price = parent.getAttribute('data-price');
                                    let total = parent.querySelector('.total-price');
                                    total.innerText = (price * quantity).toFixed(2);

                                    // Call the addToCart function to update the cart
                                    addToCart(productId, quantity);
                                    updateTotalPriceSum();
                                } else {
                                    Swal.fire({
                                        icon: 'info',
                                        title: 'Max Qty is ' + stock,
                                        showConfirmButton: true,
                                    });
                                }
                            }
                        }
                        function decFunction(e) {
                            let parent = e.closest('.cartPrice');
                            let qty = parent.querySelector('.inputQuantity');
                            let productId = parent.getAttribute('data-id');
                            let stock = parent.getAttribute('data-stock'); // Get the stock value

                            if (stock > 0) {
                                let quantity = parseInt(qty.value) - 1;

                                if (quantity > 0) {
                                    // Update the UI
                                    qty.value = quantity;
                                    let price = parent.getAttribute('data-price');
                                    let total = parent.querySelector('.total-price');
                                    total.innerText = (price * quantity).toFixed(2);

                                    // Call the addToCart function to update the cart
                                    addToCart(productId, quantity);
                                    updateTotalPriceSum();
                                }
                            }
                        }





                        /////////////script for add to cart//////////////////////////////////////
                        async function addToCart(productId, quantity) {
                            try {
                                // Send a request to your server to update the cart
                                const response = await fetch('/updatecart', {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/json',
                                    },
                                    body: JSON.stringify({
                                        productId,
                                        quantity,
                                    }),
                                });

                                if (response.ok) {
                                    const data = await response.json();
                                    if (data.success) {
                                        // Cart updated successfully
                                        console.log('Cart updated successfully');
                                    } else {
                                        console.error('Failed to update cart');
                                    }
                                } else {
                                    console.error('Failed to update cart');
                                }
                            } catch (error) {
                                console.error('Error:', error);
                            }
                        }


                        /////////////////////////////////////////////////////sweet alert for deleting the product in the cart//////////////////////

                        function deleteItem(cartId, productId) {
                            Swal.fire({
                                title: 'Are you sure?',
                                text: "You won't be able to revert this!",
                                icon: 'warning',
                                showCancelButton: true,
                                confirmButtonColor: '#d33',
                                cancelButtonColor: '#3085d6',
                                confirmButtonText: 'Yes, delete it!'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    // If the user confirms the action, perform the deletion
                                    window.location.href = `/cart/${cartId}/product/${productId}`;
                                }
                            });
                        }

                    </script>

                    <style>
                        /* Apply responsive styles to the table */
                        @media (max-width: 768px) {
                            .table-responsive table {
                                display: block;
                                width: 100%;
                            }

                            .table-responsive table tr {
                                display: block;
                                width: 100%;
                                margin-bottom: 10px;
                                /* Adjust the spacing between rows */
                            }

                            .table-responsive table td {
                                display: block;
                                text-align: center;
                                /* Center the table data on smaller screens */
                            }
                        }
                    </style>




                    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>