<%- include('../layouts/userHeader.ejs') %>

  <!-- Start Banner Area -->
  <section class="banner-area organic-breadcrumb">
    <div class="container">
      <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
        <div class="col-first">
          <h1 style="background-color: black; color: white; padding: 10px;">Wallet</h1>
          <nav class="d-flex align-items-center">

          </nav>
        </div>
      </div>
    </div>
  </section>
  <!-- End Banner Area -->

  <section
    style="background: linear-gradient(45deg, rgb(56, 56, 56), rgb(79, 78, 78)) center / cover no-repeat; padding-top: 30px; padding-bottom: 100px;">
    <div style="margin: 0 auto; width: 90%; max-width: 600px;">
      <div style="border: 1px solid #ffffff; border-radius: 15px; padding: 20px; margin-bottom: 15px;">
        <h3 style="font-size: 24px; margin-bottom: 20px; color: #ffffff;">Time-Za Wallet</h3>

        <% if (user && user.wallet) { %>
          <p style="font-size: 22px; margin-bottom: 20px; color: rgb(255, 255, 255);">Hi, <%=user.name%>
          </p>
          <p style="font-size: 18px; margin-bottom: 20px; color: rgb(255, 255, 255);">Your Wallet Balance is: INR <%=
              parseFloat(user.wallet.balance).toLocaleString(undefined, { minimumFractionDigits: 2,
              maximumFractionDigits: 2 }) %>
          </p>



      </div>
      <!-- Transaction Table -->
      <table style="border-collapse: collapse; width: 100%; border: 1px solid #ddd;">
        <thead>
          <tr style="background-color: #ffffff; color: rgb(13, 12, 12);">
            <th style="text-align: left; padding: 8px; font-weight: bold;">Order ID</th>
            <th style="text-align: left; padding: 8px; font-weight: bold;">Date and Time</th>
            <th style="text-align: left; padding: 8px; font-weight: bold;">Type</th>
            <th style="text-align: left; padding: 8px; font-weight: bold;">Amount</th>
          </tr>
        </thead>
        <tbody>
          <% userTransactions.forEach(transaction=> { %>
            <tr style="text-align: left; padding: 8px; color: #ffffff;">
              <td>
                <%= transaction.ID %>
              </td>
              <td>
                <%=new Date(transaction.createdAt).toLocaleString('en-US', { weekday: 'short' , month: 'short' ,
                  day: 'numeric' , year: 'numeric' , hour: 'numeric' , minute: 'numeric' , hour12: true }) %>
              </td>
              <td
                style="color: <%= transaction.type === 'Debit' ? 'red' : (transaction.type === 'Credit' ? 'green' : 'black') %>;">
                <%= transaction.type %>
              </td>

              <td>
                <%= parseFloat(transaction.amount).toLocaleString(undefined, { minimumFractionDigits: 2,
                  maximumFractionDigits: 2 }) %>
              </td>

            </tr>
            <% }); %>
        </tbody>
      </table>

      <% } else { %>
        <p style="font-size: 18px; margin-bottom: 20px; color: red;">No wallet data available.</p>
        <% } %>
    </div>
  </section>

  <%- include('../layouts/userFooter.ejs') %>